.App {
   background-color: #f4f4f4; 
  font-family: Arial, sans-serif; 
}

.App-header {
  background-color: #009632; 
  color: rgb(9, 0, 0);
  padding: 10px;
  font-size: 1em;
  text-align: center;
}

.person-list {
  list-style-type: none; 
  padding: 10px;
}

.person-item {
  background-color: rgba(14, 165, 182, 0.877); 
  border: 1px solid #ddd; 
  margin: 10px auto; 
  padding: 20px;
  max-width: 100em; 
}

.person-image {
  width: 180px;
  height:180px;
  border-radius: 50%; 
  margin-right: 50px;
  border: 3px solid #009688;
}

.person-details {
  display: inline-block; 
  text-align: center; 
   
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
